**/.git
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/node_modules
**/.angular
**/dist
**/build
**/.next
**/.env
**/docker-compose*.yml
**/*.md
**/.gitignore
**/Dockerfile*
**/logs
**/*.log
**/TestResults
